.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: red;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__cases__green {
  color: rgb(21, 243, 21) !important;
}

.infoBox__total {
  color: rgb(68, 62, 62);
  font-weight: 700 !important;
  font-size: 0.9rem !important;
  margin-top: 15px !important;
}

.infoBox__selected {
  border-top: 10px solid yellow;
}

.infoBox__red {
  border-color: rgb(226, 6, 6);
}

.infoBox__black {
  border-color: black;
}

.infoBox__green {
  border-color: rgb(3, 223, 58);
  color: rgb(3, 223, 58) !important;
}
